#TODO:
# MEM free (xx%)  SWAP max (x%)
# WIFI.name WIFI.strenght
# BAT.%  BAT.time
# net.in net.out

interval=5
signal=10

# command=~/bin/blocks/$BLOCK_NAME

[vol]
command=~/bin/blocks/volume 5% pulse

[wifi]
command=~/bin/blocks/wifi
#TODO wifi.name wifi.strength

[battery]
command=~/bin/blocks/battery

[disk]
command=~/bin/blocks/disk
separator=false

[memory]
command=~/bin/blocks/memory
#TODO SWAP ?
#TODO remove all mem 11.5G

[cpu_usage]
command=~/bin/blocks/cpu_usage
separator=false

[load]
command=~/bin/blocks/load_average

[datetime]
#command=date +"%Y-%M-%d %T"
command=~/bin/blocks/date
