# i3blocks config file
# https://github.com/imcYaro/i3

#TODO:
# MEM free (xx%)  SWAP max (x%)
# WIFI.name
# net.in net.out

interval=5
signal=10

# command=~/.config/i3/bin/$BLOCK_NAME

[vol]
command=~/.config/i3/bin/volume 5% pulse

[wifi]
command=~/.config/i3/bin/wifi
#TODO wifi.name wifi.strength

[battery]
command=~/.config/i3/bin/battery

[disk]
command=~/.config/i3/bin/disk
separator=false

[memory]
command=~/.config/i3/bin/memory
#TODO SWAP ?
#TODO remove all mem 11.5G

[cpu_usage]
command=~/.config/i3/bin/cpu_usage
separator=false

[load]
command=~/.config/i3/bin/load_average

[datetime]
#command=date +"%Y-%M-%d %T"
command=~/.config/i3/bin/date
